{
  "openapi": "3.1.0",
  "info": {
    "version": "2.0.0",
    "title": "CloudZero API V2 Resources",
    "description": "CloudZero V2 API",
    "contact": {
      "name": "CloudZero Support",
      "url": "https://www.cloudzero.com/contact",
      "email": "support@cloudzero.com"
    },
    "license": {
      "name": "BSD 3",
      "identifier": "BSD-3"
    }
  },
  "servers": [
    {
      "url": "https://api.cloudzero.com"
    }
  ],
  "tags": [
    {
      "name": "budgets",
      "description": "Budget Resources"
    },
    {
      "name": "costformation",
      "description": "CloudZero CostFormation Resources"
    },
    {
      "name": "insights",
      "description": "Insight Resources"
    },
    {
      "name": "views",
      "description": "View Resources"
    },
    {
      "name": "billing_connections",
      "description": "Billing Connection Resources"
    },
    {
      "name": "billing",
      "description": "Billing Resources"
    }
  ],
  "paths": {
    "/v2/insights": {
      "get": {
        "operationId": "getInsights",
        "description": "Get a list of Insights",
        "tags": [
          "insights"
        ],
        "parameters": [
          {
            "description": "If passed, any subsequent operation with the same value for this header will return the exact same result.\nThis is true for all responses, i.e. successes and errors.\n",
            "name": "cloudzero-idempotency-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If passed, the operation executes in the namespace specified by this key.\nResource mutations in the namespace last for 1 hour.\n",
            "name": "cloudzero-test-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of items to return per page",
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "int32"
            }
          },
          {
            "description": "Allows you to page forward and back in your results. NOTE: This must be URL Encoded!\n - See the [Pagination](https://docs.cloudzero.com/reference/pagination) section of the API Reference for more information!\n",
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_key",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Sortable Insight properties",
              "type": "string",
              "enum": [
                "category",
                "cost_impact",
                "effort",
                "last_updated",
                "status",
                "title"
              ]
            }
          },
          {
            "description": "ASC or DESC sort order",
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "hide_resolved (Deprecated)",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Prefer filtering by Status.",
              "type": "boolean"
            }
          },
          {
            "description": "If passed, query will be filtered by the properties specified.\nThis is a multi-value query parameter, pass it more than once to specify multiple values, e.g.\n  - `&status=new&status=in_progress`\n",
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "new",
                  "in_progress",
                  "on_hold",
                  "addressed",
                  "ignored"
                ]
              }
            }
          },
          {
            "description": "If passed, query will be filtered by the properties specified.\nThis is a multi-value query parameter, pass it more than once to specify multiple values, e.g.\n  - `&effort=low&effort=medium`\n",
            "name": "effort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "not_set",
                  "low",
                  "medium",
                  "high"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "description": "Supports programmatic pagination",
                      "type": "object",
                      "properties": {
                        "page_count": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "item_count": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "total_count": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "cursor": {
                          "type": "object",
                          "properties": {
                            "next_cursor": {
                              "type": [
                                "string",
                                null
                              ]
                            },
                            "previous_cursor": {
                              "type": [
                                "string",
                                null
                              ]
                            },
                            "has_next": {
                              "type": "boolean"
                            },
                            "has_previous": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    },
                    "sorting": {
                      "allOf": [
                        {
                          "description": "This response key contains sorting options, where:\n  - `available`: is an object with two keys:\n      - `sort_keys`: list of available sort keys\n      - `sort_orders`: list of available sort orders\n  - `current`: is an array of `{sort_key: sort_order}` objects, the response is sorted in order of this array\n",
                          "example": {
                            "available": {
                              "sort_keys": [
                                "last_updated"
                              ],
                              "sort_orders": [
                                "asc",
                                "desc"
                              ]
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "available": {
                              "type": "object",
                              "properties": {
                                "sort_keys": {
                                  "type": "array",
                                  "items": {
                                    "description": "Sortable Insight properties",
                                    "type": "string",
                                    "enum": [
                                      "category",
                                      "cost_impact",
                                      "effort",
                                      "last_updated",
                                      "status",
                                      "title"
                                    ]
                                  },
                                  "example": [
                                    "category",
                                    "cost_impact",
                                    "effort",
                                    "last_updated",
                                    "status",
                                    "title"
                                  ]
                                },
                                "sort_orders": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "asc",
                                      "desc"
                                    ]
                                  },
                                  "example": [
                                    "asc",
                                    "desc"
                                  ]
                                }
                              }
                            },
                            "current": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "sort_key": {
                                    "description": "Sortable Insight properties",
                                    "type": "string",
                                    "enum": [
                                      "category",
                                      "cost_impact",
                                      "effort",
                                      "last_updated",
                                      "status",
                                      "title"
                                    ]
                                  },
                                  "sort_order": {
                                    "type": "string",
                                    "enum": [
                                      "asc",
                                      "desc"
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    },
                    "filtering": {
                      "allOf": [
                        {
                          "description": "This response key contains filtering options, where:\n  - `available`: is an array of filterable field objects\n  - `current`: is an object containing the currently filtered fields and the filter values\n",
                          "type": "object",
                          "properties": {
                            "available": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "field": {
                                    "type": "string"
                                  },
                                  "valid_values": {
                                    "type": "array"
                                  },
                                  "valid_types": {
                                    "type": "array",
                                    "items": "string"
                                  }
                                }
                              }
                            },
                            "current": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array"
                              }
                            }
                          }
                        },
                        {
                          "example": {
                            "available": [
                              {
                                "field": "hide_resolved",
                                "valid_values": [
                                  true,
                                  false
                                ],
                                "valid_types": [
                                  "boolean"
                                ]
                              }
                            ],
                            "current": {
                              "hide_resolved": [
                                false
                              ]
                            }
                          }
                        }
                      ]
                    },
                    "insights": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "effort": {
                                "type": "string",
                                "enum": [
                                  "not_set",
                                  "low",
                                  "medium",
                                  "high"
                                ]
                              },
                              "cost_impact": {
                                "description": "String or float representation of a dollar amount",
                                "oneOf": [
                                  {
                                    "description": "String representation of a dollar amount",
                                    "type": "string",
                                    "pattern": "^\\d+(\\.\\d{1,})?$",
                                    "default": "1.0"
                                  },
                                  {
                                    "type": "number",
                                    "format": "float"
                                  }
                                ]
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "new",
                                  "in_progress",
                                  "on_hold",
                                  "addressed",
                                  "ignored"
                                ]
                              },
                              "category": {
                                "type": "string"
                              },
                              "link": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "created": {
                                "description": "UTC timestamp for the creation of this entity",
                                "type": "string",
                                "pattern": "^\\d+(\\.\\d{1,})?$"
                              }
                            },
                            "required": [
                              "created"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "last_updated": {
                                "description": "UTC timestamp for the last update of this entity",
                                "type": "string",
                                "pattern": "^\\d+(\\.\\d{1,})?$"
                              }
                            },
                            "required": [
                              "last_updated"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "cost_impact": {
                                "description": "String representation of a dollar amount",
                                "type": "string",
                                "pattern": "^\\d+(\\.\\d{1,})?$",
                                "default": "1.0"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createInsight",
        "description": "Create a new Insight",
        "tags": [
          "insights"
        ],
        "parameters": [
          {
            "description": "If passed, any subsequent operation with the same value for this header will return the exact same result.\nThis is true for all responses, i.e. successes and errors.\n",
            "name": "cloudzero-idempotency-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If passed, the operation executes in the namespace specified by this key.\nResource mutations in the namespace last for 1 hour.\n",
            "name": "cloudzero-test-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "effort": {
                    "type": "string",
                    "enum": [
                      "not_set",
                      "low",
                      "medium",
                      "high"
                    ]
                  },
                  "cost_impact": {
                    "description": "String or float representation of a dollar amount",
                    "oneOf": [
                      {
                        "description": "String representation of a dollar amount",
                        "type": "string",
                        "pattern": "^\\d+(\\.\\d{1,})?$",
                        "default": "1.0"
                      },
                      {
                        "type": "number",
                        "format": "float"
                      }
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "new",
                      "in_progress",
                      "on_hold",
                      "addressed",
                      "ignored"
                    ]
                  },
                  "category": {
                    "type": "string"
                  },
                  "link": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "insight": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "effort": {
                              "type": "string",
                              "enum": [
                                "not_set",
                                "low",
                                "medium",
                                "high"
                              ]
                            },
                            "cost_impact": {
                              "description": "String or float representation of a dollar amount",
                              "oneOf": [
                                {
                                  "description": "String representation of a dollar amount",
                                  "type": "string",
                                  "pattern": "^\\d+(\\.\\d{1,})?$",
                                  "default": "1.0"
                                },
                                {
                                  "type": "number",
                                  "format": "float"
                                }
                              ]
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "new",
                                "in_progress",
                                "on_hold",
                                "addressed",
                                "ignored"
                              ]
                            },
                            "category": {
                              "type": "string"
                            },
                            "link": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "created": {
                              "description": "UTC timestamp for the creation of this entity",
                              "type": "string",
                              "pattern": "^\\d+(\\.\\d{1,})?$"
                            }
                          },
                          "required": [
                            "created"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "last_updated": {
                              "description": "UTC timestamp for the last update of this entity",
                              "type": "string",
                              "pattern": "^\\d+(\\.\\d{1,})?$"
                            }
                          },
                          "required": [
                            "last_updated"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "cost_impact": {
                              "description": "String representation of a dollar amount",
                              "type": "string",
                              "pattern": "^\\d+(\\.\\d{1,})?$",
                              "default": "1.0"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      }
    },
    "/v2/insights/{insight_id}": {
      "get": {
        "operationId": "getOneInsight",
        "description": "Get a single Insight",
        "tags": [
          "insights"
        ],
        "parameters": [
          {
            "description": "If passed, any subsequent operation with the same value for this header will return the exact same result.\nThis is true for all responses, i.e. successes and errors.\n",
            "name": "cloudzero-idempotency-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If passed, the operation executes in the namespace specified by this key.\nResource mutations in the namespace last for 1 hour.\n",
            "name": "cloudzero-test-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique Insight identifier",
            "name": "insight_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "insight": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "effort": {
                              "type": "string",
                              "enum": [
                                "not_set",
                                "low",
                                "medium",
                                "high"
                              ]
                            },
                            "cost_impact": {
                              "description": "String or float representation of a dollar amount",
                              "oneOf": [
                                {
                                  "description": "String representation of a dollar amount",
                                  "type": "string",
                                  "pattern": "^\\d+(\\.\\d{1,})?$",
                                  "default": "1.0"
                                },
                                {
                                  "type": "number",
                                  "format": "float"
                                }
                              ]
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "new",
                                "in_progress",
                                "on_hold",
                                "addressed",
                                "ignored"
                              ]
                            },
                            "category": {
                              "type": "string"
                            },
                            "link": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "created": {
                              "description": "UTC timestamp for the creation of this entity",
                              "type": "string",
                              "pattern": "^\\d+(\\.\\d{1,})?$"
                            }
                          },
                          "required": [
                            "created"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "last_updated": {
                              "description": "UTC timestamp for the last update of this entity",
                              "type": "string",
                              "pattern": "^\\d+(\\.\\d{1,})?$"
                            }
                          },
                          "required": [
                            "last_updated"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "cost_impact": {
                              "description": "String representation of a dollar amount",
                              "type": "string",
                              "pattern": "^\\d+(\\.\\d{1,})?$",
                              "default": "1.0"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteOneInsight",
        "description": "Delete a single Insight",
        "tags": [
          "insights"
        ],
        "parameters": [
          {
            "description": "If passed, any subsequent operation with the same value for this header will return the exact same result.\nThis is true for all responses, i.e. successes and errors.\n",
            "name": "cloudzero-idempotency-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If passed, the operation executes in the namespace specified by this key.\nResource mutations in the namespace last for 1 hour.\n",
            "name": "cloudzero-test-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique Insight identifier",
            "name": "insight_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "insight": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ]
                    },
                    "comments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      },
      "patch": {
        "operationId": "updateOneInsight",
        "description": "Update a single Insight",
        "tags": [
          "insights"
        ],
        "parameters": [
          {
            "description": "If passed, any subsequent operation with the same value for this header will return the exact same result.\nThis is true for all responses, i.e. successes and errors.\n",
            "name": "cloudzero-idempotency-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If passed, the operation executes in the namespace specified by this key.\nResource mutations in the namespace last for 1 hour.\n",
            "name": "cloudzero-test-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique Insight identifier",
            "name": "insight_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "effort": {
                    "type": "string",
                    "enum": [
                      "not_set",
                      "low",
                      "medium",
                      "high"
                    ]
                  },
                  "cost_impact": {
                    "description": "String or float representation of a dollar amount",
                    "oneOf": [
                      {
                        "description": "String representation of a dollar amount",
                        "type": "string",
                        "pattern": "^\\d+(\\.\\d{1,})?$",
                        "default": "1.0"
                      },
                      {
                        "type": "number",
                        "format": "float"
                      }
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "new",
                      "in_progress",
                      "on_hold",
                      "addressed",
                      "ignored"
                    ]
                  },
                  "category": {
                    "type": "string"
                  },
                  "link": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "insight": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "effort": {
                              "type": "string",
                              "enum": [
                                "not_set",
                                "low",
                                "medium",
                                "high"
                              ]
                            },
                            "cost_impact": {
                              "description": "String or float representation of a dollar amount",
                              "oneOf": [
                                {
                                  "description": "String representation of a dollar amount",
                                  "type": "string",
                                  "pattern": "^\\d+(\\.\\d{1,})?$",
                                  "default": "1.0"
                                },
                                {
                                  "type": "number",
                                  "format": "float"
                                }
                              ]
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "new",
                                "in_progress",
                                "on_hold",
                                "addressed",
                                "ignored"
                              ]
                            },
                            "category": {
                              "type": "string"
                            },
                            "link": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "created": {
                              "description": "UTC timestamp for the creation of this entity",
                              "type": "string",
                              "pattern": "^\\d+(\\.\\d{1,})?$"
                            }
                          },
                          "required": [
                            "created"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "last_updated": {
                              "description": "UTC timestamp for the last update of this entity",
                              "type": "string",
                              "pattern": "^\\d+(\\.\\d{1,})?$"
                            }
                          },
                          "required": [
                            "last_updated"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "cost_impact": {
                              "description": "String representation of a dollar amount",
                              "type": "string",
                              "pattern": "^\\d+(\\.\\d{1,})?$",
                              "default": "1.0"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      }
    },
    "/v2/insights/{insight_id}/comments": {
      "get": {
        "operationId": "getCommentsForOneInsight",
        "description": "Get a list of Comments for an Insight",
        "tags": [
          "insights"
        ],
        "parameters": [
          {
            "description": "If passed, any subsequent operation with the same value for this header will return the exact same result.\nThis is true for all responses, i.e. successes and errors.\n",
            "name": "cloudzero-idempotency-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If passed, the operation executes in the namespace specified by this key.\nResource mutations in the namespace last for 1 hour.\n",
            "name": "cloudzero-test-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique Insight identifier",
            "name": "insight_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "insight": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ]
                    },
                    "comments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "allOf": [
                          {
                            "type": "object",
                            "properties": {
                              "message": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "message"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "created": {
                                "description": "UTC timestamp for the creation of this entity",
                                "type": "string",
                                "pattern": "^\\d+(\\.\\d{1,})?$"
                              }
                            },
                            "required": [
                              "created"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "last_updated": {
                                "description": "UTC timestamp for the last update of this entity",
                                "type": "string",
                                "pattern": "^\\d+(\\.\\d{1,})?$"
                              }
                            },
                            "required": [
                              "last_updated"
                            ]
                          },
                          {
                            "type": "object",
                            "properties": {
                              "author": {
                                "type": "string"
                              },
                              "insight": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              }
                            },
                            "required": [
                              "author",
                              "insight"
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createCommentForOneInsight",
        "description": "Create a new Comment for an Insight",
        "tags": [
          "insights"
        ],
        "parameters": [
          {
            "description": "If passed, any subsequent operation with the same value for this header will return the exact same result.\nThis is true for all responses, i.e. successes and errors.\n",
            "name": "cloudzero-idempotency-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If passed, the operation executes in the namespace specified by this key.\nResource mutations in the namespace last for 1 hour.\n",
            "name": "cloudzero-test-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique Insight identifier",
            "name": "insight_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comment": {
                      "type": "object",
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "message"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "created": {
                              "description": "UTC timestamp for the creation of this entity",
                              "type": "string",
                              "pattern": "^\\d+(\\.\\d{1,})?$"
                            }
                          },
                          "required": [
                            "created"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "last_updated": {
                              "description": "UTC timestamp for the last update of this entity",
                              "type": "string",
                              "pattern": "^\\d+(\\.\\d{1,})?$"
                            }
                          },
                          "required": [
                            "last_updated"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "author": {
                              "type": "string"
                            },
                            "insight": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id"
                              ]
                            }
                          },
                          "required": [
                            "author",
                            "insight"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      }
    },
    "/v2/insights/{insight_id}/comments/{comment_id}": {
      "patch": {
        "operationId": "updateOneCommentForOneInsight",
        "description": "Update one Comment for an Insight",
        "tags": [
          "insights"
        ],
        "parameters": [
          {
            "description": "If passed, any subsequent operation with the same value for this header will return the exact same result.\nThis is true for all responses, i.e. successes and errors.\n",
            "name": "cloudzero-idempotency-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If passed, the operation executes in the namespace specified by this key.\nResource mutations in the namespace last for 1 hour.\n",
            "name": "cloudzero-test-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique Insight identifier",
            "name": "insight_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique Comment identifier",
            "name": "comment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  }
                },
                "required": [
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "comment": {
                      "type": "object",
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "message"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "id"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "created": {
                              "description": "UTC timestamp for the creation of this entity",
                              "type": "string",
                              "pattern": "^\\d+(\\.\\d{1,})?$"
                            }
                          },
                          "required": [
                            "created"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "last_updated": {
                              "description": "UTC timestamp for the last update of this entity",
                              "type": "string",
                              "pattern": "^\\d+(\\.\\d{1,})?$"
                            }
                          },
                          "required": [
                            "last_updated"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "author": {
                              "type": "string"
                            },
                            "insight": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "id"
                              ]
                            }
                          },
                          "required": [
                            "author",
                            "insight"
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      }
    },
    "/v2/budgets": {
      "get": {
        "operationId": "getBudgets",
        "description": "Get a list of Budgets",
        "tags": [
          "budgets"
        ],
        "parameters": [
          {
            "description": "If passed, any subsequent operation with the same value for this header will return the exact same result.\nThis is true for all responses, i.e. successes and errors.\n",
            "name": "cloudzero-idempotency-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If passed, the operation executes in the namespace specified by this key.\nResource mutations in the namespace last for 1 hour.\n",
            "name": "cloudzero-test-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Number of items to return per page",
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "format": "int32"
            }
          },
          {
            "description": "Allows you to page forward and back in your results. NOTE: This must be URL Encoded!\n - See the [Pagination](https://docs.cloudzero.com/reference/pagination) section of the API Reference for more information!\n",
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_key",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Sortable Budget properties",
              "type": "string",
              "enum": [
                "last_updated",
                "name"
              ]
            }
          },
          {
            "description": "ASC or DESC sort order",
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "description": "If passed, query will expand the properties specified.\nThis is a multi-value query parameter, pass it more than once to specify multiple values, e.g.\n  - `&expand=current&expand=history`\n",
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "current"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "description": "Supports programmatic pagination",
                      "type": "object",
                      "properties": {
                        "page_count": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "item_count": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "total_count": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "cursor": {
                          "type": "object",
                          "properties": {
                            "next_cursor": {
                              "type": [
                                "string",
                                null
                              ]
                            },
                            "previous_cursor": {
                              "type": [
                                "string",
                                null
                              ]
                            },
                            "has_next": {
                              "type": "boolean"
                            },
                            "has_previous": {
                              "type": "boolean"
                            }
                          }
                        }
                      }
                    },
                    "sorting": {
                      "allOf": [
                        {
                          "description": "This response key contains sorting options, where:\n  - `available`: is an object with two keys:\n      - `sort_keys`: list of available sort keys\n      - `sort_orders`: list of available sort orders\n  - `current`: is an array of `{sort_key: sort_order}` objects, the response is sorted in order of this array\n",
                          "example": {
                            "available": {
                              "sort_keys": [
                                "last_updated"
                              ],
                              "sort_orders": [
                                "asc",
                                "desc"
                              ]
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "available": {
                              "type": "object",
                              "properties": {
                                "sort_keys": {
                                  "type": "array",
                                  "items": {
                                    "description": "Sortable Budget properties",
                                    "type": "string",
                                    "enum": [
                                      "last_updated",
                                      "name"
                                    ]
                                  },
                                  "example": [
                                    "last_updated",
                                    "name"
                                  ]
                                },
                                "sort_orders": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "enum": [
                                      "asc",
                                      "desc"
                                    ]
                                  },
                                  "example": [
                                    "asc",
                                    "desc"
                                  ]
                                }
                              }
                            },
                            "current": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "sort_key": {
                                    "description": "Sortable Budget properties",
                                    "type": "string",
                                    "enum": [
                                      "last_updated",
                                      "name"
                                    ]
                                  },
                                  "sort_order": {
                                    "type": "string",
                                    "enum": [
                                      "asc",
                                      "desc"
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        }
                      ]
                    },
                    "filtering": {
                      "allOf": [
                        {
                          "description": "This response key contains filtering options, where:\n  - `available`: is an array of filterable field objects\n  - `current`: is an object containing the currently filtered fields and the filter values\n",
                          "type": "object",
                          "properties": {
                            "available": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "field": {
                                    "type": "string"
                                  },
                                  "valid_values": {
                                    "type": "array"
                                  },
                                  "valid_types": {
                                    "type": "array",
                                    "items": "string"
                                  }
                                }
                              }
                            },
                            "current": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "array"
                              }
                            }
                          }
                        }
                      ]
                    },
                    "budgets": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "description": "Budget name, must be unique within a View",
                                    "type": "string"
                                  },
                                  "planned_limits": {
                                    "description": "Mapping of `period` to planned budget limits for the given period. Supported `period`s are:\n  - `monthly`\n",
                                    "type": "object",
                                    "properties": {
                                      "monthly": {
                                        "description": "Planned limit as a mapping of `date` to `amount`, where\n  - `date` is an timezone aware ISO Formatted string, e.g. `\"2022-02-01T00:00:00+00:00\"`\n  - `amount` is a Mapping of the literal string `\"amount\"` to a dollar amount, e.g. `{\"amount\": \"1000.00\"}`\n",
                                        "type": "object",
                                        "additionalProperties": {
                                          "description": "Amount for planned limit",
                                          "type": "object",
                                          "properties": {
                                            "amount": {
                                              "description": "String representation of a dollar amount",
                                              "type": "string",
                                              "pattern": "^\\d+(\\.\\d{1,})?$",
                                              "default": "1.0"
                                            }
                                          },
                                          "required": [
                                            "amount"
                                          ]
                                        },
                                        "example": {
                                          "2022-02-01T00:00:00+00:00": {
                                            "amount": "1000.00"
                                          }
                                        }
                                      }
                                    },
                                    "required": [
                                      "monthly"
                                    ],
                                    "example": {
                                      "monthly": {
                                        "2022-02-01T00:00:00+00:00": {
                                          "amount": "1000.00"
                                        }
                                      }
                                    }
                                  },
                                  "view": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id"
                                    ],
                                    "description": "View associated with this Budget"
                                  },
                                  "alerts": {
                                    "description": "Mapping of `1-100` to `Y/N`, where\n  - `1-100` is the percentage of the budget at which to send an alert\n  - `Y/N` is whether or not to send the alert\n",
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "string",
                                      "enum": [
                                        "Y",
                                        "N"
                                      ]
                                    },
                                    "example": {
                                      "80": "N",
                                      "100": "Y"
                                    }
                                  }
                                },
                                "required": [
                                  "name",
                                  "planned_limits",
                                  "view"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "created": {
                                    "description": "UTC timestamp for the creation of this entity",
                                    "type": "string",
                                    "pattern": "^\\d+(\\.\\d{1,})?$"
                                  }
                                },
                                "required": [
                                  "created"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "last_updated": {
                                    "description": "UTC timestamp for the last update of this entity",
                                    "type": "string",
                                    "pattern": "^\\d+(\\.\\d{1,})?$"
                                  }
                                },
                                "required": [
                                  "last_updated"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "cost_type": {
                                    "description": "Type of charges included in the cost calculation, currently supports the following values:\n  `real_cost`: filters your bill to only display charges directly related to consumption\n",
                                    "type": "string",
                                    "enum": [
                                      "real_cost"
                                    ]
                                  },
                                  "granularity": {
                                    "description": "Supported periods, e.g. \"monthly\"",
                                    "type": "string",
                                    "enum": [
                                      "monthly"
                                    ]
                                  }
                                },
                                "required": [
                                  "cost_type",
                                  "granularity"
                                ]
                              }
                            ]
                          },
                          {
                            "allOf": [
                              {
                                "allOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "description": "Budget name, must be unique within a View",
                                        "type": "string"
                                      },
                                      "planned_limits": {
                                        "description": "Mapping of `period` to planned budget limits for the given period. Supported `period`s are:\n  - `monthly`\n",
                                        "type": "object",
                                        "properties": {
                                          "monthly": {
                                            "description": "Planned limit as a mapping of `date` to `amount`, where\n  - `date` is an timezone aware ISO Formatted string, e.g. `\"2022-02-01T00:00:00+00:00\"`\n  - `amount` is a Mapping of the literal string `\"amount\"` to a dollar amount, e.g. `{\"amount\": \"1000.00\"}`\n",
                                            "type": "object",
                                            "additionalProperties": {
                                              "description": "Amount for planned limit",
                                              "type": "object",
                                              "properties": {
                                                "amount": {
                                                  "description": "String representation of a dollar amount",
                                                  "type": "string",
                                                  "pattern": "^\\d+(\\.\\d{1,})?$",
                                                  "default": "1.0"
                                                }
                                              },
                                              "required": [
                                                "amount"
                                              ]
                                            },
                                            "example": {
                                              "2022-02-01T00:00:00+00:00": {
                                                "amount": "1000.00"
                                              }
                                            }
                                          }
                                        },
                                        "required": [
                                          "monthly"
                                        ],
                                        "example": {
                                          "monthly": {
                                            "2022-02-01T00:00:00+00:00": {
                                              "amount": "1000.00"
                                            }
                                          }
                                        }
                                      },
                                      "view": {
                                        "type": "object",
                                        "properties": {
                                          "id": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "id"
                                        ],
                                        "description": "View associated with this Budget"
                                      },
                                      "alerts": {
                                        "description": "Mapping of `1-100` to `Y/N`, where\n  - `1-100` is the percentage of the budget at which to send an alert\n  - `Y/N` is whether or not to send the alert\n",
                                        "type": "object",
                                        "additionalProperties": {
                                          "type": "string",
                                          "enum": [
                                            "Y",
                                            "N"
                                          ]
                                        },
                                        "example": {
                                          "80": "N",
                                          "100": "Y"
                                        }
                                      }
                                    },
                                    "required": [
                                      "name",
                                      "planned_limits",
                                      "view"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "id"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "created": {
                                        "description": "UTC timestamp for the creation of this entity",
                                        "type": "string",
                                        "pattern": "^\\d+(\\.\\d{1,})?$"
                                      }
                                    },
                                    "required": [
                                      "created"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "last_updated": {
                                        "description": "UTC timestamp for the last update of this entity",
                                        "type": "string",
                                        "pattern": "^\\d+(\\.\\d{1,})?$"
                                      }
                                    },
                                    "required": [
                                      "last_updated"
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "cost_type": {
                                        "description": "Type of charges included in the cost calculation, currently supports the following values:\n  `real_cost`: filters your bill to only display charges directly related to consumption\n",
                                        "type": "string",
                                        "enum": [
                                          "real_cost"
                                        ]
                                      },
                                      "granularity": {
                                        "description": "Supported periods, e.g. \"monthly\"",
                                        "type": "string",
                                        "enum": [
                                          "monthly"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "cost_type",
                                      "granularity"
                                    ]
                                  }
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "current": {
                                    "type": "object",
                                    "properties": {
                                      "actual": {
                                        "type": "string"
                                      },
                                      "planned": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "actual",
                                      "planned"
                                    ]
                                  }
                                },
                                "required": [
                                  "current"
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyAuth": []
          }
        ]
      },
      "post": {
        "operationId": "createBudget",
        "description": "Create a new Budget",
        "tags": [
          "budgets"
        ],
        "parameters": [
          {
            "description": "If passed, any subsequent operation with the same value for this header will return the exact same result.\nThis is true for all responses, i.e. successes and errors.\n",
            "name": "cloudzero-idempotency-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If passed, the operation executes in the namespace specified by this key.\nResource mutations in the namespace last for 1 hour.\n",
            "name": "cloudzero-test-key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Budget name, must be unique within a View",
                    "type": "string"
                  },
                  "planned_limits": {
                    "description": "Mapping of `period` to planned budget limits for the given period. Supported `period`s are:\n  - `monthly`\n",
                    "type": "object",
                    "properties": {
                      "monthly": {
                        "description": "Planned limit as a mapping of `date` to `amount`, where\n  - `date` is an timezone aware ISO Formatted string, e.g. `\"2022-02-01T00:00:00+00:00\"`\n  - `amount` is a Mapping of the literal string `\"amount\"` to a dollar amount, e.g. `{\"amount\": \"1000.00\"}`\n",
                        "type": "object",
                        "additionalProperties": {
                          "description": "Amount for planned limit",
                          "type": "object",
                          "properties": {
                            "amount": {
                              "description": "String representation of a dollar amount",
                              "type": "string",
                              "pattern": "^\\d+(\\.\\d{1,})?$",
                              "default": "1.0"
                            }
                          },
                          "required": [
                            "amount"
                          ]
                        },
                        "example": {
                          "2022-02-01T00:00:00+00:00": {
                            "amount": "1000.00"
                          }
                        }
                      }
                    },
                    "required": [
                      "monthly"
                    ],
                    "example": {
                      "monthly": {
                        "2022-02-01T00:00:00+00:00": {
                          "amount": "1000.00"
                        }
                      }
                    }
                  },
                  "view": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "id"
                    ],
                    "description": "View associated with this Budget"
                  },
                  "alerts": {
                    "description": "Mapping of `1-100` to `Y/N`, where\n  - `1-100` is the percentage of the budget at which to send an alert\n  - `Y/N` is whether or not to send the alert\n",
                    "type": "object",
                    "additionalProperties": {
                      "type": "string",
                      "enum": [
                        "Y",
                        "N"
                      ]
                    },
                    "example": {
                      "80": "N",
                      "100": "Y"
                    }
                  }
                },
                "required": [
                  "name",
                  "planned_limits",
                  "view"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "budget": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "name": {
                              "description": "Budget name, must be unique within a View",
[...]
